* {
    margin: 0;
    padding: 0;
}

html,
body,
#app,
.wrapper {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body {
    font-family: 'PingFang SC', "Helvetica Neue", Helvetica, "microsoft yahei", arial, STHeiTi, sans-serif;
}

a {
    text-decoration: none
}

.content-box {
    position: absolute;
    left: 200px;
    right: 0;
    top: 70px;
    bottom: 0;
    overflow-y: scroll;
    -webkit-transition: left .3s ease-in-out;
    transition: left .3s ease-in-out;
    background: #f0f0f0;
}

.content {
    width: auto;
    background: #fff;
    margin: 20px;
    padding: 20px;
    border-radius: 4px;
    min-height: calc(100% - 120px);
}

.content-collapse {
    left: 65px;
}

.container {
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.bule_text {
    color: rgb(30, 159, 255)
}

.blue {
    background: rgb(30, 159, 255)
}

.h_title {
    display: flex;
    align-items: center;
    height: 40px;
    background: #e4e1e1;
    font-size: 12px;
}

.h_title div {
    width: 5px;
    height: 100%;
    margin-right: 5px;
    background: rgb(64, 158, 255);
}

.fs12 {
    font-size: 12px;
}

/* data-grid */

.data-grid {
    margin-top: 10px;
}

.grid-content {
    font-size: 14px;
    display: flex;
    flex-direction: column;
}

.data-grid-item-container[data-v-5f088334] {
    display: flex;
}
